<div class="related">
    <div class="width">
        <h2>Related products</h2>
        <div class="related-products">
            
        </div>
    </div>
</div>
<script>
  fetch(window.Shopify.routes.root + "recommendations/products.json?product_id=1234567890123&limit=4&intent=related")
  .then(response => response.json())
  .then(({ products }) => {
    if (products.length > 0) {
      const firstRecommendedProduct = products[0];

      alert(
        `The title of the first recommended product is: ${firstRecommendedProduct.title}`
      );
    }
  }
);

</script>
{% schema %}
    {
        "name":"relatedddd products",
        "settings": [],
        "presets":[
            {
                "name":"relatedddd products"
            }
        ]
    }
{% endschema %}