<div class="related">
    <div class="width">
        <h2>Related products</h2>
        <div class="related-products">
            
        </div>
    </div>
</div>
{% schema %}
    {
        "name":"related products",
        "settings": [],
        "presets":[
            {
                "name":"related products"
            }
        ]
    }
{% endschema %}